.barang {
  margin-right: 100px;
  margin-bottom: 20px;
}
.horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

input[type="number"] {
  width: 50px; 
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px; 
  height: 18px;
  text-align: center;
  border-radius: 5px;
}
.custom-button {
  background-color: powderblue; 
  color: black; 
  padding: 5px 10px; 
  font-size: 16px; 
  border-radius: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-color: white;
}
.custom-add {
  background-color:darkcyan;
  border-radius: 5px;
  border-color:white ;
  padding: 10px;
  margin: 10px;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.barang-container {
  border: 1px solid #ccc;
  height: 370px;
  width: 270px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  padding-left: 70px;
  margin-bottom: 10px;
  background-color:cadetblue;
  border-radius: 15px;
}

.list-barang {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px;
}

.list-barang img {
  margin-right: 10px;
}

.list-keranjang {
  list-style: none;
  padding: 0;
  float: right;
}

.posisi {
  float: right; 
  margin-top: 20px; 
  text-align: right; 
}

#subtotal, #pajak, #total {
  margin: 15px 0;
}

#strukPembayaran {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#strukPembayaran h2 {
  text-align: center;
}
  
#detailPembayaran {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

#detailPembayaran p {
  margin: 5px 0;
  font-size: 14px;
}
  
#tutupStrukButton {
  display: block;
  margin: 10px auto;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border: none;
}